body {
    font-family: 'Inter', sans-serif;/*font-family sirve para darle la fuente de letra*/
    margin: 0;/*espacio alredeor de un elemento*/
    padding: 0;/*espacio dentro del elemento*/
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;/*la altura*/
  }
  header {
    background-color: #f5f5f5;
    padding: 10px 0;
    text-align: center;/*alineacion horizontal en el centro*/
    display: flex;/*convierte en un contenedor flexible*/
    align-items: center;
    justify-content: space-between; /*distribuir el espacio disponible entre los elementos hijos a lo largo del eje principal*/
    padding-left: 10px; /*relleno*/
    padding-right: 10px;
    position: relative;
    border-bottom: 1px solid #ccc;
  }
  header h1 {
    color: #333;
    font-weight: 700;
    margin: 0;
    font-size: 2.5em;
  }
  header img {
    height: 50px;
    margin-right: 10px;
  }
  nav ul {/*nav=navegacion ul=lista desordenada, estila toda esa lista*/
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
  nav ul li {
    display: inline; /*se muestren en linea horizontalmente la lista*/
    margin: 0 10px;
  }
  nav ul li a {
    color: #333;
    text-decoration: none; /*elimina el subrayado y/o algun otro tipo de decorado de la lista, y darle estilo */
    font-weight: 600;
    font-size: 1.1em;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  nav ul li a:hover {
    background-color: #e0e0e0;
  }

  h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
  }
  p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: normal;
    text-transform: capitalize;
  }
  #barra-busqueda {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 25px;
    padding: 5px 10px;
    margin: 0 10px;
    flex: 1;
    max-width: 300px;
    background-color: white;
  }
  #entrada-busqueda {
    border: none;
    outline: none;
    flex: 1;
    font-size: 1em;
  }
  #boton-buscar {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
  }
  #boton-buscar img{
    height: 20px;
    width: 20px;
  }
  .boton-promociones {
    background-color: #f5f5f5;
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    margin-right: 10px;
  }
  .boton-promociones:hover {
    background-color: #e0e0e0;
  }
  .icono-carrito {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    position: relative;
  }
  .navegacion-inferior-encabezado { /*centrar los botones del medio*/
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .navegacion-inferior-encabezado ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  .navegacion-inferior-encabezado ul li {/*para que esten separados (avon, mary kane, natura)*/
    margin: 0 15px;
  }
  .navegacion-inferior-encabezado ul li a {/*funcion para sacar el borde a las listas, color, etc*/
    color: #333;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1em;
    transition: color 0.3s ease;
  }
  .navegacion-inferior-encabezado ul li a:hover {/*funcion para pasar el mouse*/
    color: #999;
  }

  @media (max-width: 768px){
    nav ul {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: center;
    }

    .navegacion-inferior-encabezado ul li{
      margin: 10px 0;
    }
  }
.icono-menu {
    display: block; /* se muestra las 3 lineas en pc */
    font-size: 2em;
    cursor: pointer;
    padding: 5px;
}

@media (max-width: 768px) {
  
  .icono-menu {
    display: block; /* Se muestra las tres linea en cel */
  }
  
}
.promocion {
  width: 98%; /*ocupa casi todo el ancho del contenedor*/
  height: auto; /*mantiene la proporción de la imagen*/
  max-height: 300px; /*altura maxima para que no sea demasiado grande en pantallas muy altas*/
  display: block;
 margin: 10px auto; /* centra la imagen con un poco de margen vertical */
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /*para darle una sombra */
}